<!-- AngularJS -->


<!--
  Нужно знать:
  - HTML
  - JavaScript

  Angular помогает грамотно организовать js-код и создать отзывчивый веб-сайт (ощущается как обычное приложение).
  Управление сайтом ведётся через описанные в HTML директивы (атрибуты типа ng-...), которые вызывают работу контроллеров, описанных в js-коде.

  Части приложения на Angular описываются в так называемых модулях, что делает код читабельным, а также более пригодным к поддержке и тестированию.
  Кроме того, модули могут использовать функционал друг от друга.
-->
<script>  // app.js
  // Оборачивать код в замыкание — хорошая привычка
  (function () {
    // Создание модуля
    var app = angular.module('appName', []);  // в квадратных скобках указываются зависимости при необходимости

    // Создание контроллера
    app.controller('controllerName', function(){
      // Создаём в качестве свойства контроллера объект, к которому можно будет получить доступ в HTML
      this.user = {
        name: "iGor",
        surname: "Polyakov",
        avatar: "ip.jpg"
        isPhystech: true,
        skills: [
          {
            name: "Angular",
            mark: 4
          },
          {
            name: "Git",
            mark: 5
          }
        ]
      };

      // Аналогичным образом может быть задан функционал контроллера
      this.funcName = function(arg) {
        return arg;
      };
    });
  })();
</script>

<!-- При этом нужно подключить модуль в теге html -->
<html ng-app="appName">
  <!-- Содержимое воспринимается как часть приложения, написанного на Angular. -->
  <!-- Поэтому в этом месте имеют смысл выражения, записанные в двойных фигурных скобках. -->
  <!-- Например: -->
  {{ 4 + 6 }}                 <!-- => 10 -->
  {{ "Hello, " + "World!" }}  <!-- => Hello, World! -->
  <!-- Можно задавать переменные, которые действуют внутри соответствующего элемента: -->
  <div ng-init="variable = 'Hi!'">
    {{ variable }}            <!-- => Hi! -->
  </div>

  <!-- Воспользуемся теперь созданным контроллером -->
  <body ng-controller="controllerName as aliasName">  <!-- таким образом можно воспользоваться любым удобным именем переменной -->
    <!-- Доступ к этой переменной сохраняется только внутри этого тега. -->
    <h1>
      {{ aliasName.user.name + aliasName.user.surname }}
      <!-- Показать элемент, если выражение соответствует истине -->
      <span ng-show="aliasName.user.isPhystech">, MIPT</span> <!-- для отрицания можно использовать символ ! в выражении, либо использовать директиву ng-hide -->
    </h1>

    <!-- Для отображения изображений воспользуемся соответствующей директивой -->
    <img ng-src="{{ aliasName.user.avatar }}">

    <!-- Для отображения элементов массива можно обращаться к ним непосредственно: -->
    {{ aliasName.user.skills[0] }}
    <!-- Но гораздо удобнее пользоваться соответствующей директивой: -->
    <ul ng-repeat="skill in aliasName.user.skills">
      <li>{{ skill.name }}: {{ skill.mark }}</li>
    </ul>

    <!-- Выражения можно фильтровать, задавая формат фильтра через | -->
    {{ data* | filter:options* }}
    <!-- Вот некоторые примеры фильтров: -->
    {{ 2 | currency }}  <!-- => $2.00 -->
    {{ 1388123412323 | date:'dd.MM.yyyy h:mm' }}  <!-- => 27.12.2013 12:50 -->
    <!-- Другие фильтры: -->
    uppercase     <!-- все заглавные -->
    lowercase     <!-- все строчные -->
    limitTo:8     <!-- отобразить только первые 8 символов (или элементов массива) -->
    orderBy:'value'   <!-- сортировка по значению -->


    <!-- Директивы -->
    <div ng-click="action"></div> <!-- действие по щелчку по объекту -->
    <div ng-class="{ className:condition }"></div>  <!-- добавление класса при определённом условии -->
  </body>
</html>



<!-- Источники -->
<!--
  [ ] https://docs.angularjs.org/guide/expression
  [ ] https://www.codeschool.com/courses/shaping-up-with-angular-js
  [ ] https://www.codeschool.com/courses/staying-sharp-with-angular-js
  [ ] https://habrahabr.ru/post/149060/

  Angular 2
  [ ] https://angular.io/docs/ts/latest/tutorial/
  [ ] https://www.codeschool.com/courses/accelerating-through-angular-2
-->