<!-- AngularJS -->


<!--
	Нужно знать:
	- HTML
	- JavaScript

	Angular помогает грамотно организовать js-код и создать отзывчивый веб-сайт (ощущается как обычное приложение).
	Управление сайтом ведётся через описанные в HTML директивы (атрибуты типа ng-...), которые вызывают работу контроллеров, описанных в js-коде.

	Части приложения на Angular описываются в так называемых модулях, что делает код читабельным, а также более пригодным к поддержке и тестированию.
	Кроме того, модули могут использовать функционал друг от друга.
-->
<script>	// app.js
	// Оборачивать код в замыкание — хорошая привычка
	(function () {
		// Создание модуля
		var app = angular.module('appName', []);	// в квадратных скобках указываются зависимости при необходимости

		// Создание контроллера
		app.controller('controllerName', function(){
			// Создаём в качестве свойства контроллера объект, к которому можно будет получить доступ в HTML
			this.user = {
				name: "iGor",
				surname: "Polyakov"
			}
		});
	})();
</script>
<!-- При этом нужно подключить модуль в теге html -->
<html ng-app="appName">
	<!-- Содержимое воспринимается как часть приложения, написанного на Angular. -->
	<!-- Поэтому в этом месте имеют смысл выражения, записанные в двойных фигурных скобках. -->
	<!-- Например: -->
	{{4 + 6}}				<!-- => 10 -->
	{{"Hello, " + "World!"}}	<!-- => Hello, World! -->

	<!-- Воспользуемся теперь созданным контроллером -->
	<body ng-controller="controllerName as aliasName">	<!-- таким образом можно воспользоваться любым удобным именем переменной -->
		<h1>{{aliasName.user.name + aliasName.user.surname}}</h1>
		<!-- Доступ к этой переменной сохраняется только внутри этого тега. -->
	</body>
</html>




<!-- если тегу присвоен атрибут -->
ng-show="moduleName.object.boolean"
<!-- то, он отображается при истинном значении свойства, и не отображается в противном случае. -->
<!-- есть аналогичный атрибут, который работает в точности наоборот -->
ng-hide="moduleName.object.boolean"
<!-- можно вместо команды задавать логическое выражение -->

<!-- если задан массив объектов, то каждый объект из массива можно вызывать указанием его индекса в квадратных скобках. но гораздо удобнее пользоваться атрибутом -->
ng-repeat="someVar in moduleName.objects"

<!-- ссылка к картинкам задаётся не через src, а через ng-src -->

<!-- присвоить переменной значение -->
ng-init="tab = 1"

<!-- можно задавать условия присвоения тегу класса -->
ng-class="{active: tab === 1}"

<!-- при щелчке по этому элементу переменной tab присваивается значение 1 -->
ng-click="tab = 1"

<!-- Фильтры помогают отображать данные приемлемом виде. Например -->
{{product.price | currency}}
<!-- отображает число в формате "$0.00". Или -->
{{'1458123412323' | date:'dd.MM.yyyy h:mm'}}
<!-- отображает дату (после двоеточия указана опция (формат) отображения даты) -->
<!-- Другие фильтры: -->
uppercase			<!-- все заглавные -->
lowercase			<!-- все строчные -->
limitTo:8			<!-- отобразить только первые 8 символов (или элементов массива) -->
orderBy:'-price'	<!-- сортировка по цене -->


<!-- Источники -->
<!--
	[ ] https://docs.angularjs.org/guide/expression
	[ ] https://www.codeschool.com/courses/shaping-up-with-angular-js
	[ ] https://www.codeschool.com/courses/staying-sharp-with-angular-js
	[ ] https://habrahabr.ru/post/149060/

	Angular 2
	[ ] https://angular.io/docs/ts/latest/tutorial/
	[ ] https://www.codeschool.com/courses/accelerating-through-angular-2
-->
